html, body, #root {
    margin: 20px;
    padding: 0;
  }
  
  body {
    background: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .card-img-top {
    object-fit: contain;
    object-position: bottom;
    width: 100%;
    max-height: 295px;
  }